{% extends "layout.html" %}

{% block title %}
Search For A Business By:
{% endblock %}

{% block main %}
<form method="POST" action="">
    <div class="pt-3">
        Name <input type="text" name="name" />
    </div>
    <div class="pt-3">
        Location <input type="text" placeholder="city,state abbreviation" name="location" />
    </div>
    <div class="pt-3">
        Categories
        <select name="categories">
            <option value=""></option>
            {% for cat in categories %}
                <option value="{{cat[0]}}">{{cat[0]}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="pt-3">
        Stars
        <select name="stars">
            <option value=""></option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="pt-3" >
        <input type="submit">
    </div>
</form>
{% endblock %}